@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Time calculator results</h1>

<p>Hours 
@Html.ViewBag.Hours
minutes 
@Html.ViewBag.Minutes
seconds 
    @Html.ViewBag.Seconds
    - Total : 
    @Html.ViewBag.Total
    seconds


</p> 